.navbar {
  background-color: #2874f0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.search-box {
  width: 400px;
  padding: 8px;
  border-radius: 2px;
  border: none;
}

.cart-btn {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.cart-btn:hover{
  cursor: pointer;
}
.logo:hover{
  cursor: pointer;
}
