.product-page {
  display: flex;
  padding: 30px;
  background: #f1f3f6;
}

.details {
  margin-left: 40px;
  background: white;
  padding: 20px;
  width: 100%;
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 10px;
}

.in-stock {
  color: green;
  font-weight: bold;
}

.out-stock {
  color: red;
  font-weight: bold;
}

.desc {
  margin: 20px 0;
  color: #555;
}

.action-buttons {
  display: flex;
  gap: 15px;
}

.add-cart {
  background: #ff9f00;
  padding: 14px 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.buy-now {
  background: #fb641b;
  padding: 14px 25px;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
